process {

    withName: 'GET_BEST_NCBI_ASSEMBLY' {
        publishDir = [
            path: { "${params.outdir}/assembly/best_ncbi_assembly/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SEQTK_SAMPLE' {
        ext.args   = { [
            "-2"
            ].join(" ").trim()
        }
    }

}

