process {

    withName: 'GET_BEST_NCBI_ASSEMBLY' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/assemblies/best_ncbi_assemblies/" },
            mode: 'copy'
        ]
    }

    withName: 'SEQTK_SAMPLE' {
        ext.args  = { [
                "-2"
            ].join(" ").trim()
        }
    }

    withName: 'MEGAHIT' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/assemblies/megahit/" },
            mode: 'copy'
        ]
    }

}

