process {

    withName: 'GET_BEST_NCBI_ASSEMBLY' {
        publishDir = [
            path: { "${params.outdir}/assembly/best_ncbi_assembly/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BLAST_BLASTN' {

        ext.args   = { [
            "-outfmt 6",
            "-max_target_seqs 2"
            ].join(" ").trim()
        }
    }

}

