process {

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args   = { [
            "-dbtype nucl"
            ].join(" ").trim()
        }
    }

    withName: 'BLAST_BLASTN' {
        cpus = 2
        memory = 4.GB
        ext.args   = { [
            "-task megablast",
            "-outfmt 6",
            "-max_target_seqs 2"
            ].join(" ").trim()
        }
    }

    withName: 'BLAST_AGAINST_TARGET:BLAST_BLASTN' {
        prefix = { "${meta.id}.against_target" }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/blastn/against_target/" },
            mode: 'copy'
        ]
    }

     withName: 'BLAST_AGAINST_GENOMES:BLAST_BLASTN' {
        prefix = { "${meta.id}.against_genome" }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/blastn/against_genomes/" },
            mode: 'copy'
        ]
    }



}

