process {

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args   = { [
            "-dbtype nucl"
            ].join(" ").trim()
        }
    }

    withName: 'BLAST_BLASTN' {
        cpus = 2
        memory = 4.GB
        ext.args   = { [
            "-task megablast",
            "-outfmt 6",
            "-max_target_seqs 2"
            ].join(" ").trim()
        }
    }

    withName: 'BLAST_AGAINST_TARGET:BLAST_BLASTN' {
        prefix = { "${meta.id}.against_target" }
    }

     withName: 'BLAST_AGAINST_ASSEMBLIES:BLAST_BLASTN' {
        prefix = { "${meta.id}.against_assembly" }
    }



}

