process {

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args   = { [
            "-dbtype nucl"
            ].join(" ").trim()
        }
    }

    withName: 'BLAST_BLASTN' {

        ext.args   = { [
            "-outfmt 6",
            "-max_target_seqs 2"
            ].join(" ").trim()
        }
    }

}

