process {

    withName: 'MMSEQS_CREATE_DB_WITH_INDEX' {
        ext.args   = { [
            "--dbtype 2"
            ].join(" ").trim()
        }
        ext.args2   = { [
            "--search-type 3"
            ].join(" ").trim()
        }
    }

     withName: 'MMSEQS_EASYSEARCH' {
         ext.prefix = { "${meta.id}" }
         tag = { "${meta.id}" }
         ext.args   = { [
             "-s 4",
             "--search-type 3",
             "--min-seq-id 0.5"
             ].join(" ").trim()
         }
    }

}

