process {

     withName: 'MMSEQS_CREATEINDEX' {
        ext.args   = { [
            "--search-type 3"
            ].join().trim()
        }
    }

     withName: 'MMSEQS_EASYSEARCH' {
        ext.args   = { [
            "-s 7.5",
            "--search-type 3"
            ].join().trim()
        }
    }

}

