process {

     withName: 'GET_CHILDREN_TAXIDS' {
         publishDir = [
            enabled: true,
            path: { "${params.outdir}/species_taxids/" },
            mode: 'copy'
        ]
    }

    withName: 'GET_SRA_METADATA' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/sra_metadata/${meta.family}/${taxid}" },
            mode: 'copy'
        ]
    }

    withName: 'CUSTOM_SRATOOLSNCBISETTINGS' {
        storeDir = "${params.outdir}/sratools/custom_settings/"
    }

    withName: 'SRATOOLS_FASTERQDUMP' {
         ext.args   = { [
                "-v"
            ].join(" ").trim()
        }
    }

}
