process {

     withName: 'GET_CHILDREN_TAXIDS' {
        publishDir = [
            path: { "${params.outdir}/species_taxids/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GET_SRA_METADATA' {
        publishDir = [
            path: { "${params.outdir}/sra_metadata/${meta.family}/${taxid}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CUSTOM_SRATOOLSNCBISETTINGS' {
        storeDir = "${params.outdir}/sratools/custom_settings/"
    }

    withName: 'SRATOOLS_PREFETCH' {
        publishDir = [
            path: { "${params.outdir}/sratools/${meta.family}/${meta.taxid}/" },
            mode: 'symlink'
        ]
    }

    withName: 'SRATOOLS_FASTERQDUMP' {
        publishDir = [
            path: { "${params.outdir}/sratools/${meta.family}/${meta.taxid}/" },
            mode: 'symlink'
        ]
    }

}
