profiles {
    local {

        process {

            resourceLimits = [
                cpus: 12,
                memory: '20GB',
                time: '4.h'
            ]
        }

        params {
            outdir = "./results/test/"
        }

        executor {
                cpus = 12
                memory = 20.GB
        }
    }
}
